@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
  }

  body {
    background-color: #0a0e17;
  }

  .max-width {
    max-width: 1300px;
    padding: 0 10px;
    margin: auto;
  }

  .navbar .logo a {
    color: #1f80e0;
    font-size: 35px;
    font-weight: 500;
  }

  .navbar {
    position: fixed;
    width: 100%; /*largura*/
    z-index: 999;
    padding: 20px 0;
    font-family: 'Ubuntu', sans-serif;
    background-color: #141b29;
    border-bottom: solid #1b202a 1px;
  }

  .navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar .menu li {
    list-style: none;
    display: inline-flex;
  }

  .navbar .menu li a {
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-left: 25px;
  }

  .menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
  }

  @media (max-width: 947px){
    .menu-btn {
      display: block;
      z-index: 999;
    }
    .menu-btn i.active:before{
      content: "\f00d";
    }

    .navbar .menu {
      background-color: #141b29;
      position: fixed;
      height: 100vh;
      width: 100%;
      left: -100%;
      top: 0;
      text-align: center;
      padding-top: 80px;
      transition: all 0.3s ease;
    }

    .navbar .menu.active {
      left: 0;
    }
  
    .navbar .menu li {
      display: block;
    }
  
    .navbar .menu li a {
      display: inline-block;
      margin: 13px 0;
      font-size: 25px;
    }

    .max-width {
      max-width: 930px;
    }
  }

section {
  padding: 50px 0;
}

@media(max-width: 690px){
  section {
    padding: 20px 0;
  }
}

.top {
  color: #141b29;
  display: flex;
  background: url("../public/imagem-5.jpg");
  height: 100vh;
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}

.top .max-width {
  width: 100%;
  display: flex;
}

.top .top-content .text-1 {
  font-size: 25px;
}

.top .top-content .text-2 {
  font-size: 55px;
  font-weight: 400;
  margin-left: -3px;
}

.top .top-content .text-3 {
  font-size: 32px;
  margin: 5px 0;
}

.top .top-content a {
  display: inline-block;
  background-color: #1f80e0;
  color: #fff;
  font-size: 25px;
  padding: 12px 32px;
  margin-top: 20px;
  font-weight: 300;
  border-radius: 6px;
  border: 2px solid #1f80e0;
  transition: all 0.3s ease;
}

.top .top-content a:hover {
  color: #1f80e0;
  background: none;
}  